@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Meet the Team</h1>
    <p>Hey everyone, we're team 6.</p>

</div>
