@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Meet the Team</h1>
</div>

<div class="caption">
    <h2>Hey Everyone!</h2>
    <p>We are huge movie fanatics. Here’s a little background story of each of us.  </p>
</div>

<div class="body">
  <h3> Mitchell Hansbauer</h3>
  <p>Blablabla</p>
</div>

<br>

<div class="body">
  <h3>William Koonce</h3>
  <p>Blablabla</p>
</div>

<br>

<div class="body">
  <h3>Wilmer Esquivel</h3>
  <p>I love to watch movies with my family and friends. Whenever a new movie comes out in theatres, 
    I try my best to watch it during opening night. My favorite movie that I saw in theatres was 
    Avengers: Infinity War. It is crazy to think that it took 10 years to build up to Avengers: Infinity War. 
    I remember trying my best to avoid any spoilers before watching the movie. I was so excited and nervous 
    because I had no idea what was going to happen. I will never forget walking out of the movie theatre 
    speechless and having to wait another year for part 2. I am happy to have experienced this movie in theatres.  </p>
</div>

