@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Meet the Team</h1>
</div>

<div class="caption">
    <h2>Hey Everyone!</h2>
    <p>We are huge movie fanatics. Here’s a little background story of each of us.  </p>
</div>

<div class="body">
  <h3> Mitchell Hansbauer</h3>
  <p>Blablabla</p>
</div>

<br>

<div class="body">
  <h3>William Koonce</h3>
  <p>Blablabla</p>
</div>

<br>

<div class="body">
  <h3>Wilmer Esquivel</h3>
  <p>Blablabla</p>
</div>

