@page
@model ActionModel
@{
    ViewData["Title"] = "Action";
}

<div class="text-center">
    <h1 class="display-4">Action Movies</h1>
</div>

<div class="caption">
    <p>Do you love fighting, racing or explosions? You should watch these movies!</p>
</div>

<div class="body">
  <h3> Mitchell Hansbauer</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>William Koonce</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>Wilmer Esquivel</h3>
  <li>Top Gun: Maverick</li>
  <li>Ready Player One</li>
  <li>Fast Five</li>
</div>
