@page
@model AnimationModel
@{
    ViewData["Title"] = "Animation";
}

<div class="text-center">
    <h1 class="display-4">Animation Movies</h1> 
</div>

<div class="caption">
    <p>Do you want to feel like a kid? Do you enjoy animated movies? You should watch these classics! </p>
</div>

<div class="body">
  <h3> Mitchell Hansbauer</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>William Koonce</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>Wilmer Esquivel</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

