@page
@model ComedyModel
@{
    ViewData["Title"] = "Comedy";
}

<div class="text-center">
    <h1 class="display-4">Comedy Movies</h1>    
</div>

<div class="caption">
    <p>Do you want to laugh your butt off? Watch these movies and you won't be disappointed!</p>
</div>

<div class="body">
  <h3> Mitchell Hansbauer</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>William Koonce</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>Wilmer Esquivel</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>
