@page
@model ComedyModel
@{
    ViewData["Title"] = "Comedy";
}

<div class="text-center">
    <h1 class="display-4">Comedy Movies</h1>    
</div>


<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<p>Do you want to laugh your butt off? Watch these movies and you won't be disappointed!</p>
</div>


  <div class="w3-container">
  <h3> Mitchell Hansbauer</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
  </div>
<br>

  <div class="w3-container">
  <h3>William Koonce</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
  </div>
<br>

  <div class="w3-container">
  <h3>Wilmer Esquivel</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
  </div>


</div>
