@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
</div>

<div class="caption">
    <h2>Do you like to watch movies?</h2>
    <p>Are you into Action, Animation, Comedy or Superhero movies? Well our team have some great recommendations for you!</p>
</div>
