@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Meet The Team</h1>
    <p>Hey everyone, we're team 6 and we decided to create a website about our favorite movies. 
        Our team members are Mitchell Hansbauer, William Koonce, and Wilmer Esquivel.
    </p>
</div>
