@page
@model SuperheroModel
@{
    ViewData["Title"] = "Superhero";
}

<div class="text-center">
    <h1 class="display-4">Superhero Movies</h1>  
</div>

<div class="caption">
    <p>Do you love Marvel, DC, or both? Sit back and enjoy these awesome superhero movies!</p>
</div>

<div class="body">
  <h3> Mitchell Hansbauer</h3>
  <li>Gaurdians of the Galaxy</li>
  <li>Megamind</li>
  <li>Spiderman 2</li>
</div>

<br>

<div class="body">
  <h3>William Koonce</h3>
  <li>Blablabla</li>
  <li>Blablabla</li>
  <li>Blablabla</li>
</div>

<br>

<div class="body">
  <h3>Wilmer Esquivel</h3>
  <li>Avengers: Infinity War</li>
  <li>Black Panther</li>
  <li>Spider-Man: No Way Home</li>
</div>
