@page
@model WilmerModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Wilmer Esquivel</h1>
    <p>I'm a huge Marvel fan. My top three Marvel movies are 
        Avengers: Infinity War, Black Panther, and Spider-Man: No Way Home.</p>

</div>
