@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Welcome</h1>

  <form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <label for="username">username:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="password">password:</label>
    <input type="text" id="password" name="password"><br><br>
    
    <a asp-controller="Home"asp-action="Login"
      class="btn btn-primary">Sign in</a>

  </form>
</div>
